In [1]:
import pandas as pd
data = pd.read_csv("Dane.csv", delimiter=",", header=0)
#print (data)

In [2]:
# data cleaning
data["To"] = data["To"].str.strip()
data["From"] = data["From"].str.strip()
#print (data)

In [3]:
#new links 
for i in range(len(data)):
    data.loc[len(data)] = [data['To'][i], data['From'][i], data['Cost'][i], data['Cap'][i]]
#print (data)

In [4]:
# LabelEncoder -> changes categorical data into numerical
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
labels = data['To'].tolist()    #pone los datos de To en el vector labels
labels = labels + data['From'].tolist() #anade los datos de From en un vector
labels = list(set(labels)) #elimina los datos repetidos
#print (labels)
le.fit(labels)   #indexar nodos
data['From_edge'] = le.transform(data['From'])+1 #guardar indices
data['To_edge'] = le.transform(data['To'])+1     #guardar indices
#print (data['From_edge'])
Vn=0
for i in range(len(data)): 
    if Vn <= data['To_edge'][i]:
        Vn = data['To_edge'][i]
    if Vn <= data['From_edge'][i]:
        Vn = data['From_edge'][i]    
#print (Vn)

In [5]:
data['route_id'] = data.index+1
En=0
for i in range(len(data)): 
    if En <= data['route_id'][i]:
        En = data['route_id'][i]
#print (En)

In [6]:
# add route_id
for i, z in enumerate(list(set((data['From'] + data['To']).tolist()))):
    data.loc[(data['From'] == z[:3]) & (data['To'] == z[3:]), ['route_id']] = i

In [7]:
data.head(len(data))

       From       To  Cost  Cap  From_edge  To_edge  route_id
0   user1-1    node1     5    6         14        6         1
1   user2-1    node1     5    6         19        6         2
2   user3-1    node1     5    6         24        6         3
3   user4-1    node1     5    6         29        6         4
4   user1-2    node2     5    6         15        7         5
5   user2-2    node2     5    6         20        7         6
6   user3-2    node2     5    6         25        7         7
7   user4-2    node2     5    6         30        7         8
8   user1-3    node3     5    6         16        8         9
9   user2-3    node3     5    6         21        8        10
10  user3-3    node3     5    6         26        8        11
11  user4-3    node3     5    6         31        8        12
12  user1-4    node4     5    6         17        9        13
13  user2-4    node4     5    6         22        9        14
14  user3-4    node4     5    6         27        9        15
15  user4-4    node4     5    6         32        9        16
16  user1-5    node5     5    6         18       10        17
17  user2-5    node5     5    6         23       10        18
18  user3-5    node5     5    6         28       10        19
19  user4-5    node5     5    6         33       10        20
20    node1  server1    10   20          6       11        21
21    node2  server2    10   20          7       12        22
22    node3    node4     5   10          8        9        23
23    node4  server2    10   20          9       12        24
24    node4   cloud2    15   40          9        2        25
25    node5   cloud4    15   40         10        4        26
26    node5   cloud5    15   40         10        5        27
27  server1   cloud1    15   40         11        1        28
28  server1   cloud5    15   40         11        5        29
29  server2   cloud1    15   40         12        1        30
..      ...      ...   ...  ...        ...      ...       ...
38    node2  user1-2     5    6          7       15        39
39    node2  user2-2     5    6          7       20        40
40    node2  user3-2     5    6          7       25        41
41    node2  user4-2     5    6          7       30        42
42    node3  user1-3     5    6          8       16        43
43    node3  user2-3     5    6          8       21        44
44    node3  user3-3     5    6          8       26        45
45    node3  user4-3     5    6          8       31        46
46    node4  user1-4     5    6          9       17        47
47    node4  user2-4     5    6          9       22        48
48    node4  user3-4     5    6          9       27        49
49    node4  user4-4     5    6          9       32        50
50    node5  user1-5     5    6         10       18        51
51    node5  user2-5     5    6         10       23        52
52    node5  user3-5     5    6         10       28        53
53    node5  user4-5     5    6         10       33        54
54  server1    node1    10   20         11        6        55
55  server2    node2    10   20         12        7        56
56    node4    node3     5   10          9        8        57
57  server2    node4    10   20         12        9        58
58   cloud2    node4    15   40          2        9        59
59   cloud4    node5    15   40          4       10        60
60   cloud5    node5    15   40          5       10        61
61   cloud1  server1    15   40          1       11        62
62   cloud5  server1    15   40          5       11        63
63   cloud1  server2    15   40          1       12        64
64   cloud3  server2    15   40          3       12        65
65   cloud2  server3    15   40          2       13        66
66   cloud3  server3    15   40          3       13        67
67   cloud4  server3    15   40          4       13        68

[68 rows x 7 columns]

In [8]:
with open("data.dat", "a") as f:
    f.write("""
data;

param Vn := {Vn};
param En := {En};
param Dn := {Dn};

param : h  s  t :=
 1      {h} {s} {t}
;
        """.format(Vn=Vn, En=En, Dn=1, h=1, s=1, t=5))

In [9]:
with open("data.dat", "a") as f:
    f.write("""
param : A :=
""")

    for i in range(En):       
        f.write("""  {link_number}  {From_edge_number}    1
""".format(link_number=data['route_id'][i], From_edge_number=data['From_edge'][i]))
    f.write(""";""")

In [10]:
with open("data.dat", "a") as f:
    f.write("""

param : B :=
""")
        
    for i in range(En):       
        f.write("""  {link_number}  {to_edge_number}    1
""".format(link_number=data['route_id'][i], to_edge_number=data['To_edge'][i]))
    f.write(""";""")

In [11]:
with open("data.dat", "a") as f:
    f.write("""
     
param : K :=
""")
    for i in range(En):       
        f.write("""  {link_number}  {cost}
""".format(link_number=data['route_id'][i], cost=data['Cost'][i]))

In [12]:
with open("data.dat", "a") as f:
     f.write("""
;
end;
""")